.right-sidebar {
	@include gradient-directional(darken($dark, 5%), $primary, -40deg);
	position: relative;

	.toggle {
		position: absolute;
		top: 23px;
		left: -40px;
		width: 40px;
		border-radius: 3px 0 0 3px;
		border-right: none;
		padding-top: 15px;
		padding-bottom: 15px;
	}

	.sidebar {
		padding: 1em 2em;
		height: calc(100% - 1em);
	}
}

.right-sidebar .sidebar {
	display: flex;
	flex-direction: column;
	justify-content: space-between;

	.tools {

		button {
			margin-bottom: 1em;

			&:last-child {
				margin-bottom: 0;
			}
		}
	}

	.footer {
		border-top: 1px solid rgba($light, 0.4);
		padding: 1em 0;

		h2 {
			color: $gray-light;
		}

		p {
			color: $gray-light;
			font-weight: 300;
			font-size: 1.4rem;
		}

		ul.social {
			@extend %list-unstyled;
			display: flex;

			> li {
				margin-right: 5px;

				> a {
					display: inline-block;
					text-align: center;
					width: 35px;
					height: 35px;
					line-height: 35px;
					background: #fff;
					border-radius: 50%;
				}
			}
		}
	}
}