/* 
Barlow Condensed - Headings
Muli - Text
via Google Fonts 
*/
@import url('https://fonts.googleapis.com/css?family=Barlow+Condensed:400,500,600,600i,700,700i,800|Muli:200,300,300i,400,600,600i,700,800&display=swap');

h1, h2, h3, h4, h5, h6 {
	font-family: $headings-font;
	font-size: 1.6rem;
	font-weight: 600;
	text-transform: uppercase;
	margin: 0 0 1rem;
}

h1 {
	font-size: 3rem;
}

h2 {
	font-size: 2.7rem;
}

h3 {
	font-size: 2.5rem;
}

h4 {
	font-size: 2.2rem;
}

h5 {
	font-size: 2rem;
}

p {
	font-size: 1.6rem;
	line-height: 1.4;
	margin: 0 0 1rem;

	strong {
		font-weight: 600;
	}
}