.main-dashboard {
	display: flex;
	flex-wrap: nowrap;

	.container {
		flex: 1 1 auto;
		height: 100vh;
		display: flex;
		flex-direction: column;
		background: $gray-light;

		.content {
			display: flex;
			flex-wrap: nowrap;
			justify-content: space-between;
			align-items: stretch;
			padding: 1em;

			.contacts {
				flex: 0 1 30%;
				margin-right: 1.5em;
			}

			.messaging {
				flex: 1 1 auto;
			}
		}
	}

	.right-sidebar {
		flex: 0 1 auto;
		height: 100vh;
		width: 0;
		transition: width 0.4s ease-in;

		&.expanded {
			width: 350px;

			.container {
				@include opacity(1);
			}
		}

		.container {
			@include opacity(0);
			transition: opacity 0.4s ease-in;
		}
	}
}

.ui-scroll {
	max-height: calc(100vh - 250px);
	overflow-y: scroll;
	flex: 1;

	&::-webkit-scrollbar {
	    width: 10px;
	}
	 
	&::-webkit-scrollbar-track {
	    background: $light;
	    padding: 2px;
	}
	 
	&::-webkit-scrollbar-thumb {
		background-color: $dark;
		outline: none;
	}
}