.user-account {
	text-align: right;

	h2 {
		color: $light;
		display: inline-block;
		vertical-align: middle;
		margin: 0 0.5em 0 0;
	}

	img {
		border-radius: 50%;
		height: 50px;
		width: 50px;
		vertical-align: middle;

		&:hover {
			cursor: pointer;
		}
	}
}