.header {
	display: flex;
	justify-content: space-between;
	align-items: stretch;
	padding: 1.5rem;
	padding-right: calc(1.5rem + 40px);
	background: #fff;

	.logo {

		img {
			max-height: 60px;
		}
	}

	.account-phone {
		align-self: center;

		p {			
			font-size: 2rem;
			margin-bottom: 0;

			svg {
				font-size: 1.8rem;
				vertical-align: baseline;
				color: darken($gray, 10%);
			}

			span {
				color: $primary;
			}
		}
	}
}